.petlist_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.petlist_header h1{
    margin: 0;
}
.petlist_header a{
    text-decoration: none;
    background-color: #16479d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
    border: 2px solid #16479d;
}
.petlist_header a:hover{
    background-color: transparent;
    color: #16479d;
}
.petlist_container{
    display: flex;
    flex-direction: column;
}
.petlist_row{
    border-bottom: 1px solid #16479d;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    width: 100%;
}
.petlist_row img{
    margin-right: 1em;
}
.petlist_row span{
    min-width: 100px;
}
.actions{
    margin-left: auto;
}
.actions a{
    background-color: #ffd400;
    color: #fff;
    border: 2px solid #ffd400;
}
.actions button{
    background-color: #b7000ce6;
    color: #fff;
    border: 2px solid #b7000ce6;
}
.actions a,
.actions button{
    text-decoration: none;
    /* background-color: transparent;
    color: #16479d; */
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 1em;
}
.actions a:hover{
    background-color: transparent;
    color: #ffd400;
}
.actions button:hover{
    background-color: #fff;
    color: #b7000ce6;
}
.actions .conclude_btn{
    background-color: #25b456;
    color: #fff;
    border-color: #25b456;
}
.actions .conclude_btn:hover{
    color: #25b456;
    background-color: #fff;
}
/* my adoptions */
.contacts{
    margin-left: 2em;
}
.contacts p{
    margin-bottom: .5em;
}